body {
    background: #5372F0;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background: #fff;
    width: 500px;
    height: 350px;
    margin: 15px 20px;
    border-radius: 20px;
    color: #5372F0;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: black 20px 10px 50px;
}

.column {
    display: flex;
}



#btnj {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#btnb {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#btnrps {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}


.btni {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

h1 {
    color: #fff;
            font-weight: 800;
            text-shadow: 3px 3px 5px black;
    font-family: 'Kanit', sans-serif;
}

.grow {
    transition: all 0.2s ease-in-out;
    background: #5372F0;
    box-shadow: black 1px 1px 4px;
}

.grow:hover {
    transform: scale(1.1);
    background: #2c52ed;
}

.btn {
    display: flex;
}

a {
    color:#5372F0;
    text-decoration: none;
    margin: 5px;
}



a:hover {
    color:#5065b8;
}

#jsa {
    margin: 0 auto;
}
#rpa {
    margin: 0 auto;
}
#bja {
    margin: 0 auto;
}

#btne {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#ea {
    margin: 0 auto;
}

#btnpc {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}



#btnpnc {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#pca {
    margin: 0 auto;
}

#btnrick {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#btnsqr {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#ricka {
    margin: 0 auto;
}

#sqra {
    margin: 0 auto;
}

#btnplat {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    margin: 10px;
}

#plata {
    margin: 0 auto;
}